@page
@model PetProject.Pages.ProductModel
@{
    ViewData["Title"] = Model.Fighter.Name;
}
<div class="card">
    <div class="card" style=" border-color: #f44336">
        <div class="card-body">
            <h2 class="card-text">@Model.Fighter.Name</h2>
        </div>
        <img class="card-img-top" src="@Model.Fighter.Image" alt="@Model.Fighter.Name" style="height:100%">

        @if (Model.SignInManager.IsSignedIn(User))
        {
            <form method="post">
                <input type="submit" value="Buy Me" style="background-color: #f44336;
                                                    border:none;
                                                    text-align:center;
                                                    color:snow;
                                                    display:block;
                                                    margin: 10px 0;
                                                    padding: 10px;
                                                    width: 100%;
                                                    " asp-page-handler="Buyme" asp-route-ID="@Model.Fighter.Id" />
            </form>
        }

    </div>
</div>