@using Microsoft.AspNetCore.Identity
@using PetProject.Models;
@using System.Security.Claims;
@using Services;
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject ApplicationDbService ProductService

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-page="CustomerBagPack" asp-route-ID="@User.FindFirst(ClaimTypes.NameIdentifier).Value" title="Fighters"> My Fighters</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
        <li class="nav-item">
            <p class="nav-link text-dark">
                <img src="https://www.pngkey.com/png/full/641-6410354_coin-fixed-04-koro-sensei-pixel-art.png" alt="coin" style="height:30px">
                coins = @ProductService.GetUser(User.FindFirst(ClaimTypes.NameIdentifier).Value).Funds
            </p>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
